img {
    position: absolute;
    left: 100px;
    top: 50px;
    width: 290px;
    height: 421px;
}

img#pingouin {
    visibility: visible;
}

img#pingouin_rouge, img#pingouin_vert, img#pingouin_jaune {
    visibility: hidden;
}

table {
    position: absolute;
    left: 380px;
    top: 450px;
    pointer-events: none;
}

td {
    width: 40px;
    height: 100px; 
    background-color: black;
    border-width: 1px; 
    border-style: inset;
} 